layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="reklamblad" split_direction="vertical" cwd="/Users/karmal/Documents/Projects/reklamblad" {
        pane name="server"
        pane name="claude" {
            command "claude"
            args "--dangerously-skip-permissions"
        }
    }
}
